*{
  margin:0;
  padding:0;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 17px;
}
.container-sb{
  display:flex;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background: linear-gradient(45deg, rgb(221, 208, 208) , rgb(184, 175, 172));
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #3a1396;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background: rgb(233, 224, 226);
  color: #000;
  transition: all 0.5s;
}
.active{
  background: rgb(168, 86, 48);
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}

#iconss{
  text-decoration: none;
}

#over-floww{
  height: 450px;
  overflow: scroll;
}


@media (max-width : 576px){
  #inp , #bell , #text{
    display: none;
  }
}